
// Font Family
$jost: 'Jost', sans-serif;
$inter: 'Inter', sans-serif;


// Colors ---------------

$theme_color:#C5853A;
$theme_color-2:#D8A123;
$theme_color-3: #029FAE;
$primary_color:#0D6EFD;
$orange_bg: #F38332; 



$white:#fff;
$black:#333;
$gray:#777;
$gray-2:#979797;



// Responsive Variables
$xl: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';



